/*Universal styles*/
body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

p{
    text-align: center;
}

/*Header section*/
header{
    display: flex;
    position: fixed;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    width: 100%
}

.title img{
    height: 50px;
    padding: 9.5px 0 9.5px 10px;
}

.navigation{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    text-decoration: underline;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell
}

.navigation a{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell
}


/*Main*/

/*Mission section*/
.mission{
    display: flex;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    position: relative;
    top: 69px;
}

.mission h2, .mission h4{
    background-color: black;
    width: 1200px;
    justify-content: center;
}

/*Tea of the Month secton*/
.month{
    width: 1000px;
    margin: 0 auto 0 auto;
    position: relative;
    top: 130px;
}

 .headline h2, .headline h4{
    display: block;
    text-align: center;
 }

.first-row, .second-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.second-row{
    max-width: 650px;
}

.item img{
    width: 300px;
    height: 200px;
}

.item h4{
    justify-content: center;
    margin-top: 10px;
}


/*Locations section*/
.locations{
    display: flex;
    display: block;
    width: 1200px;
    height: 500px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    justify-content: center;
    align-content: center;
    margin: 0 auto 0 auto;
}

.address{
    display: flex;
    flex-direction: row;
    width: 980px;
    justify-content: space-between;
    align-items: center;
}

.square{
    display: flex;
    display: block;
    width: 300px;
    height: 300px;
    opacity: 1;
    background-color: black;
    justify-content: center;
    align-items: center;
}

/*Footer*/
.contact{
    text-align: center;
    height: 200px;
}

.copyright{
    text-align: left;
    margin-left: 20px;
}
